@import url("./flat/flat.css");

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 12px;
}

body {
  position: relative;
  overflow: hidden;
}

#map {
    height: 100%;
    width: calc(100% - 300px);
    float: left;
    z-index: -1;
}

.basemapGallery-container {
    position: absolute;
    top: 20px;
    left: 70px;
    z-index: 50;
}

.dijitTitlePaneTitle {
    background: white;
    padding: 10px;
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

.flat .dijitContentPane {
    border: 1px solid #b8b8b8;
    border-radius: 5px;
}

#controls {
    box-sizing: border-box;
    float: left;
    width: 300px;
    height: 100%;
    background: #FAFAFA;
    color: #515151;
    border-left: 1px solid #B8B8B8;
    position: relative;
    overflow-y: auto;
}

.collapser {
    position: absolute;
    width: 2.7rem;
    height: 2.7rem;
    right: 300px;
    font-size: 2.7rem;
    background: #FAFAFA;
    cursor: pointer;
}

.collapser {
    position: absolute;
    width: 2.7rem;
    height: 2.7rem;
    right: 300px;
    font-size: 2.7rem;
    background: #FAFAFA;
    cursor: pointer;
}

.panel-collapsed .collapser {
  right: 0;
}

#expanderIcon {
  display: none;
}

.panel-collapsed #map {
  width: calc(100% - 1px);
}

.panel-collapsed #controls {
  width: 0;
}

.panel-collapsed #controls section {
  overflow: hidden;
}

.panel-collapsed #expanderIcon {
  display: inline-block;
}

.panel-collapsed #collapserIcon {
  display: none;
}

#timeSlider {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px 20px 30px;
    background: #ececec;
    width: calc(100% - 300px) !important;
    box-sizing: border-box;
    border-top: 1px solid #b8b8b8;
}

.panel-collapsed #timeSlider {
    width: 100% !important;
}

.config-header {
    padding: 8px 10px;
    background: linear-gradient(to right, #FFF, #FAFAFA);
    border: 1px solid #B8B8B8;
    border-left: none;
    border-right: none;
    display: flex;
    cursor: pointer;
}

.config-header:hover {
    background: linear-gradient(to right, #FAFAFA, #F6F6F6);
}

section:first-of-type .config-header {
    border-top: none;
}

.config-header h2 {
    flex: 1 0 auto;
    margin: 0;
    font-size: 1.2rem;
    font-weight: normal;
}

.config-content {
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    max-height: 500px;
    transition: all 400ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

.section-hidden .config-content {
    padding: 0 10px;
    max-height: 0;
}

.header-actions-group i {
    cursor: pointer;
    color: #A6A6A6;
}

.header-actions-group .fa::before {
  content: "\f077";
}

.section-hidden .header-actions-group .fa::before {
  content: "\f078";
}

.header-actions-group i:hover {
    color: #313131;
}

.header-actions-group .dijitDropDownButton {
  margin: 0;
}

.header-actions-group .dijitButtonNode {
  border: none;
}

.header-actions-group .dijitArrowButtonInner {
  display: none;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 5px 0;
}

.input-group-full {
    width: 100%;
    flex-direction: row-reverse;
    text-align: left;
}

.input-group-full ~ .input-row {
    width: calc(100% - 80px);
    margin-left: 80px;
}

.input-group input {
    margin: auto;
}

.input-group label {
    color: #313131;
    padding: 5px 0;
    flex: 1 0 auto;
}

.input-group-full select,
.input-group-full .input-group-nested {
    width: calc(100% - 80px) !important;
}

.input-group-full .input-group-nested {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.input-group-full .input-group-nested label {
    width: auto;
}

.input-group-full .input-group-nested input {
    width: 80% !important;
}

.input-group-full input {
    width: calc(100% - 85px) !important;
}

.input-group-full label {
    width: 80px;
    padding: 0;
}

.input-row {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0;
}

.input-row .input-group {
    width: 33%;
}

.input-row .input-group label {
    height: 1rem;
}

.input-row-header-labeled {
    margin-left: 90px;
    justify-content: space-around;
}

.input-row-header {
  margin: 2px 0;
}

.input-row-header label {
    width: 95px;
}

.input-row-header input,
.input-row-header select,
.input-row-header .dijitSelect {
    flex: 1 0 auto;
    margin: 1px 2px;
}

.input-row-header input[type="checkbox"] {
    flex: 0 0 auto;
}

input[type="checkbox"],
input[type="checkbox"] + label {
    cursor: pointer;
}

#inputUrl {
  flex: 1 0 auto;
  margin-right: 5px;
}

.flat .dijitDropDownButton .dijitButtonNode {
  padding: 0;
  border: none;
  background: transparent;
}

.flat .dijitButtonText {
  padding: 0;
  line-height: 0;
}

.flat .dijitDownArrowButton {
  line-height: 0;
}

.flat .dijitTooltipContainer {
  border: 1px solid #B8B8B8;
  background: #FAFAFA;
  color: #515151;
  box-shadow: 0 1px 4px rgba(0,0,0,.25);
  border-radius: 2px;
}

.flat .dijitTooltipContainer .input-group-full select {
    width: calc(100% - 130px) !important;
}

.flat .dijitTooltipContainer .input-group-full input {
    width: calc(100% - 135px) !important;
}

.flat .dijitTooltipContainer .input-group-full label {
    width: 130px;
}

.flat .dijitTooltipFocusNode {
  padding: 10px;
}

.flat .dijitTooltipFocusNode > div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 250px;
}

.flat select {
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.fieldTypeSelect{
  color:#0000ff;
}
